.image-grayscale {
    filter: grayscale(100%);
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.color{
    color: E76F51;
}
.bi bi-star-fill{
    color: E76F51;
}